version: '2'
services:
  backend:
    container_name: search_service
    build: backend/.
    command: node_modules/.bin/jasmine JASMINE_CONFIG_PATH=spec/jasmine.json
    environment:
      NODE_ENV: development
    ports:
      - '80:3000'
    volumes:
      - .:/home/app/tagsearch
      - /var/lib/tagsearch
      - /home/app/tagsearch/node_modules