<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="multiTagApp">
  <head>
    <title>Bandcamp Multi Tag Search</title>
    <script src="angular.min.js"></script>
    <script src="popup.js"></script>
    <script type="text/javascript" src="linq.min.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body ng-controller="tagsController">
    Tag: <input type="text" ng-model="newTag">
    <br>
    <button ng-click="addTag()">Add</button>
    <button ng-click="search()">Search</button>
    <ul class="tags">
      <li ng-repeat="tag in tags">
        <div>
          <p class="tag_name">{{tag}}</p>
          <p class="tag_remove" ng-click="removeTag(tag)">XXX</p>
        </div>
      </li>
    </ul>
    <p>Searches: {{ searchesInProgress }}</p>
    <ul>
      <li ng-repeat="album in albums">
        <a href="{{ album.link }}">
          <img ng-src="{{ album.image }}" />
          <p class="album_name">{{ album.name }}</p>
          <p class="album_artist">{{ album.artist }}</p>
        </a>
      </li>
    </ul>
  </body>
</html>