<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="multiTagApp">
  <head>
    <title>Bandcamp Multi Tag Search</title>
    <script src="angular.min.js"></script>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="spinner.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body ng-controller="tagsController">
    <div>
      <form class="input">
        <input class="input_tag" type="text" ng-model="newTag" placeholder="Tag..." />
        <input class="input_add" type="submit" ng-click="addTag()" value="Add" />
      </form>
    </div>
    <ul class="tags">
      <li class="tag" ng-repeat="tagAlbum in tagAlbums">
        <span class="tag_name">{{ tagAlbum.tag }}</span>
        <span class="tag_remove" ng-click="removeTag(tagAlbum)">X</span>
      </li>
    </ul>
    <div class="spinner" ng-show="searchesInProgress != 0">
      <div class="throbber-loader">
        Loading…
      </div>
    </div>
    <ul class="albums">
      <li class="album" ng-repeat="album in albums">
        <a href="{{ album.link }}" target="_blank">
          <img ng-src="{{ album.image }}" />
          <p class="album_name">{{ album.name }}</p>
          <p class="album_artist">{{ album.artist }}</p>
        </a>
      </li>
    </ul>
    <p class="noResults" ng-show="tagAlbums.length != 0 && albums.length == 0 && searchesInProgress == 0">No albums found</p>
  </body>
</html>