@font-face { font-family: LiberationSans; src: url('chrome-extension://__MSG_@@extension_id__/fonts/LiberationSans-Regular.ttf'); } 
@font-face { font-family: LiberationSans; font-weight: bold; src: url('chrome-extension://__MSG_@@extension_id__/fonts/LiberationSans-Bold.ttf');}

body {
	font-family: "Helvetica Neue", LiberationSans, Arial, sans-serif;
	font-size: 100%;
}

#status {
	/* avoid an excessively wide status text */
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 400px;
}

ul {
	list-style-type: none;
}

.albums {
	padding-left: 40px;
	padding-right: 40px;
}

.album {
	padding-bottom: 30px;
}

.album a {
	text-decoration: none;
	color: #408294;
}

.album a:visited {
	color: #408294;
}

.album a:hover {
	text-decoration: underline;
}

.album p {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.album_name {
	font-weight: bold;
}