<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="tagsearch">
  <head>
    <title>Camp Explorer</title>
    <script src="angular.min.js"></script>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="spinner.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body ng-controller="searchController">
    <div ng-show="showVersionChangesQuestion || showVersionChanges" class="version_changes">
      <h2 class="version_header">Version {{ currentVersion }}</h2>
      <div ng-show="!showVersionChanges">
        <div class="version_text">
          <p>Hey, there's been some changes since the last version, would you like to read about them?</p>
        </div>
        <span ng-click="showVersionChangesQuestion = false; showVersionChanges = true" class="expand_changes">Sure</span>
        <span ng-click="showVersionChangesQuestion = false" class="ignore_changes">Nope</span>
      </div>
      <div ng-show="showVersionChanges">
        <div class="version_text">
          <p>Improvements:</p>
          <p>Changed so requests are more secure using HTTPS instead of HTTP.</p>
          </br>
        </div>
        <span ng-click="showVersionChanges = false" class="close_changes">Gotcha</span>
      </div>
    </div>
    <div ng-show="showReviewSuggestionNow" class="review">
      <p class="review_text">Hey, you've been using the app for a little while now. Would you like to write a review or give any feedback on it?<p>
      <a href="https://chrome.google.com/webstore/detail/bandcamp-tag-search/fkkbhcpcpapcgcfjmllgibbnalmpbjcm" target="_blank" class="go_review" ng-click="neverShowSuggestion()">Sure</a>
      <span ng-click="showReviewSuggestionNow = false;" class="remind_me">Maybe later</span>
      <span ng-click="neverShowSuggestion()" class="never_suggest">Nope</span>
    </div>
    <div class="header">
      <img class="logo" src="campexplorer.svg" />
      <h1 class="title">Camp Explorer</h1>
    </div>
    <div>
      <form class="input">
        <input class="input_tag" type="text" ng-model="newTag" placeholder="Tag..." />
        <input class="input_add" type="submit" ng-click="addInputTag()" value="Add" />
      </form>
    </div>
    <ul class="tags">
      <li class="tag" ng-repeat="tag in tags">
        <a href="https://bandcamp.com/tag/{{ tag.name }}" target="_blank" class="tag_name">{{ tag.name }}</a>
        <span class="tag_caching" ng-show="tag.isCaching">- not cached</span>
        <span class="tag_remove" ng-click="removeTag(tag)">X</span>
      </li>
    </ul>
    <p ng-show="serverUnreachable" class="server_message">Sorry, unable to reach server at the moment
      <br>Retrying...</p>
    <p ng-show="isCachingTags" class="server_message">Caching missing tags on server.<br>Retrying...</p>
    <div class="spinner" ng-show="isSearching">
      <div class="throbber-loader">
        Loading…
      </div>
    </div>
    <ul class="albums">
      <li class="album" ng-repeat="album in albums track by $index">
        <a href="{{ album.link }}" target="_blank" title="{{ album.name }}">
          <img ng-src="{{ album.image }}" />
          <p class="album_name">{{ album.name }}</p>
          <p class="album_artist">{{ album.artist }}</p>
        </a>
      </li>
    </ul>
    <p class="noResults" ng-show="tags.length != 0 && albums.length == 0 && !isSearching">No albums found</p>
  </body>
</html>